@charset "utf-8";

body {
    padding-top: 100px;
    background-color: #000000;
}

.explanatory {
    text-align: center;
    font-family: '游明朝', 'ヒラギノ明朝 ProN W3';
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
}

.warning {
    text-align: center;
    font-family: '游明朝', 'ヒラギノ明朝 ProN W3';
    font-weight: bold;
    font-size: 30px;
    color: #ff0000;
}

.cation {
    text-align: center;
    font-family: '游明朝', 'ヒラギノ明朝 ProN W3';
    font-weight: bold;
    font-size: 30px;
    color: #ffff00;
}

table {
    text-align: center;
}

.link-items {
    font-family: '游明朝', 'ヒラギノ明朝 ProN W3';
    font-weight: bold;
    color: #000000;
}

.link-items:hover {
    color: #ff0000;
    background-color: rgba(128, 128, 128, 0.6);
}

.comment {
    margin-left: 42%;
    font-family: '游明朝', 'ヒラギノ明朝 ProN W3';
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
}

.comment:hover {
    color: #ff0000;
    background-color: rgba(128, 128, 128, 0.6);
}

.prefectures {
    font-family: '游明朝', 'ヒラギノ明朝 ProN W3';
    font-weight: bold;
    color: #ffffff;
}

.prefectures:hover {
    color: #ff0000;
    background-color: rgba(128, 128, 128, 0.6);
}