@charset "utf-8";

body {
    padding-top: 80px;
    font-family: '游明朝', 'ヒラギノ明朝 ProN W3';
    font-weight: bold;
    color: #ffffff;
    background-color: #ff0000;
}

.title {
    font-size: 30px;
    text-align: center;
}

.label-text {
    color: #ffffff;
    font-weight: bolder;
}

.input {
    color: #000000;
}

.link-items {
    font-family: '游明朝', 'ヒラギノ明朝 ProN W3';
    font-weight: bold;
    color: #000000;
}

.link-items:hover {
    color: #ff0000;
    background-color: rgba(128, 128, 128, 0.6);
}

.btn {
    color: #ffffff;
    background-color: #000000;
}